@import url("//fonts.googleapis.com/css?family=Muli");

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fafafa;
    color: #414142;
    font: 10pt "Muli", sans-serif;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
}

h1 {
    color: #0070C0;
    text-align: center;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.page-container {
    width: 210mm;
    min-height: auto;
    padding: 0mm;
    margin: 10mm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.page-inner {
    padding: 0;
    height: auto;
    padding: 10mm;
}

.page-inner table,
.page-inner td,
.page-inner th {
    padding: 2mm;
    border-collapse: collapse;
    border: 1px solid #414142;
}

@page {
    size: A4;
    margin: 0;
}

@media print {

    html,
    body {
        width: 210mm;
        height: auto;
    }

    .page-container {
        margin: 0;
        border: initial;
        border-radius: initial;
        width: initial;
        min-height: initial;
        box-shadow: initial;
        background: initial;
        page-break-after: always;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}
  
th, td {
    /* padding: 8px; */
    text-align: left;
    /* border-bottom: 1px solid #DDD; */
}

th {
    background-color: lightgray;
}

th:first-child, td:first-child {
    font-weight: bold;
}

.esri-view .esri-view-surface--touch-none:focus::after {
    outline: none !important;
}

/* .esri-legend__layer-caption {
    display:none;
} */

.controls-container {
    color: #414142;
    background: #f1f1f2;
    padding: 5px;
    border: 1px solid #d1d3d4;
    border-radius: 2px;
    position: fixed;
    top: 50px;
    left: 10px;
    font-size: 12px;
}

.controls-container button {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.controls-container button:hover {
    background-color: #0070C0;
}

@media print {
    .controls-container {
        display: none !important;
    }
}

.map-container {
    display: flex;
    width: 100%;
}

.map-node {
    display: flex;
    flex: 70%;
    height: 300px;
}

.legend-node {
    flex: 30%;
    height: 300px;
}

.content-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }